@import "tailwindcss";

@theme inline {
  --font-sans: Arial, Helvetica, sans-serif;
  --font-mono: "Courier New", Courier, monospace;
}

@layer base {
  html {
    min-height: 100%;
  }

  body {
    min-height: 100%;
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
